.font {
    color: white;
    font-family: zebrawood-std-fill, sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;

}

body{
  text-align: center;
}


.bg-img {
    background: url(background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

#prediction {
    color: purple;
    position: absolute;
    top: 59%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: zebrawood-std-fill, sans-serif;
    text-align: center;
    font-weight: 400;
    font-style: normal;
    font-size:3.5vmin;
    width: 18vmin;
    line-height:3.5vmin;
    
}
 .allison{
    margin-top:30px;
    width: 90%;
 }


.container {
    position: relative;
    text-align: center;
    color: white;
  }
  
  .inputbox {
    position: absolute;
    width: 50px;
    color: red;
    top: 79%;
    right:12.5%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: white;
    height: 15vmin;
    width: 15vmin;
    border-radius: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: red;
    background-color: black;
    padding:10px;
    font-size:7vmin;
    font-family: zebrawood-std-fill, sans-serif;

  }
  
  
  #countdown {
    position: absolute;
    font-family: zebrawood-std-fill, sans-serif;
    text-align: center;
    font-style: normal;
    font-size:8vmin;
    left: 28%;
    top: 79%;
    transform: translate(-50%, -50%);
    height: 15vmin;
    width: 15vmin;
    border-radius: 100%;
    border-color: white;
    border-width: 2px;
    border-style: solid;
    background-color: black;
    padding:0px 1px 10px 2px;
  }

#tryagain{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);

}
/* font-family: freehouse, serif;
font-weight: 400;
font-style: normal;

Freehouse Wide

font-family: freehouse-wide, serif;
font-weight: 400;
font-style: normal;

Freehouse Rough

font-family: freehouse-rough, serif;
font-weight: 900;
font-style: normal; 

font-family: zebrawood-std-fill, sans-serif;
font-weight: 400;
font-style: normal;

*/


  
